---
    slideshow:
      - background_image_path: /images/slider/bg1.jpg
        main_heading: First Slide
        sub_heading: This is the sub heading for the first slide
        read_more_link: #
        pop_up_image_path: /images/slider/img1.png
      - background_image_path: /images/slider/bg2.jpg
        main_heading: Second Slide
        sub_heading: This is the sub heading for the second slide
        read_more_link: #
        pop_up_image_path: /images/slider/img2.png
      - background_image_path: /images/slider/bg3.jpg
        main_heading: Third Heading
        sub_heading: This is the sub heading for the third slide
        read_more_link: #
        pop_up_image_path: /images/slider/img3.png

    
---

{% include head.html %}
<body class="homepage">
    {% include header.html %}
    <section id="main-slider" class="no-margin">
        {% include section_mainslider.html %}
    </section><!--/#main-slider-->    
    <section id="feature" >
        
      {% include featured.html %}              
        
    </section><!--/#feature-->
    
   
    {% include themes/twitter2/blog.html %}

    {% include footer.html%}

    <span id="top-link-block" class="hidden">
      <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
          <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
      </a>
  </span><!-- /top-link-block -->
</body>
</html>