#footer{
    background-color: $redical-red;
    margin-bottom: 30px;
    .row{
        margin-top: 10px;
    }
    .address-line{
        background-color: #FDE1F7;
        margin-left: 0px;
        margin-right: 0px;
        small{
            color: $text-purple;
            font-weight: bold;
        }
    }
    a{
        color: $text-two;
        font-weight: bold;
        text-decoration: none;
    }
    ul{
        list-style: none;
        line-height: 30px;
        a{
            text-decoration: none;
            font-weight: bold;
         }
         h3{
            color: $text-two;
            font-weight: bold;
         }
    }
}
