.post-top-frame {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
}

.tag-line {
  margin-top: 20%;
  color: #fff !important;
  h1{
      font-weight: bold;
      font-family: 'Cherry Swash', cursive;
  }
}

.jumbotron{
    font-family: 'Bad Script', cursive;
}
