#testimonial{
    background-color: $observatory;
    color: $text-two;
    blockquote{
        margin-top: 5em;
        margin-bottom: 5em;
        p{
            font-family: 'Cherry Swash', cursive;
            font-size: 26px;
        }
    }
}
