<div id="footer">
      <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                  <ul>
                        <li><a href="#"> CONTACT</a></li>
                        <li><a href="#"> ABOUT US</a></li>
                        <li><a href="{{site.github.url}}/feed.xml"> RSS FEED</a></li>
                  </ul>
              </div>
              <div class='col-sm-6'>
                  <ul>
                      <li><a href="#"> FACEBOOK </a></li>
                      <li><a href="#"> TWITTER </a></li>
                  </ul>
              </div>
          </div>
      </div>
</div>



<script src="{{ site.github.url }}/assets/libs/jquery/dist/jquery.min.js"></script>

<!--  slick is to show to slider for featured post -->
<script src="{{ site.github.url }}/assets/libs/slick-1.5.9/slick/slick.min.js"></script>

<script src="{{ site.github.url }}/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!--  scrpt is the custome page -->
<script src="{{ site.github.url }}/assets/script.js"></script>
