<div class="background-wrap">
    <div id="footer">
          <div class="container">
              <div class="row">
                  <div class='col-sm-2 col-sm-offset-1 text-center'>
                      <a href="{{ site.github.url }}/contact/">CONTACT</a>
                  </div>
                  <div class='col-sm-2 text-center'>
                      <a href="{{ site.github.url }}/blog/">BLOG</a>
                  </div>
                  <div class='col-sm-2 text-center'>
                      <a href="#"> FACEBOOK </a>
                  </div>
                  <div class='col-sm-2 text-center'>
                      <a href="#"> TWITTER </a>
                  </div>
                  <div class='col-sm-2 text-center'>
                      <a href="{{site.github.url}}/feed.xml"> RSS FEED</a>
                  </div>
              </div>
          </div>
          <div class="row address-line">
              <div class="col-sm-4 text-left pull-left">
                <h4>
                    <small>© 2012-15 Locon Solutions Pvt. Ltd.</small>
                </h4>
              </div>
              <div class='col-sm-6 text-right pull-right'>
                  <h4>
                      <small>45B West Wilmot Street, Suite 202 Richmond Hill, Ontario L4B 2P3 Canada. +1-289-809-8401 inquiries@wedding.news</small>
                  </h4>
              </div>
          </div>
    </div>
</div>



<script src="{{ site.github.url }}/assets/libs/jquery/dist/jquery.min.js"></script>

<!--  slick is to show to slider for featured post -->
<script src="{{ site.github.url }}/assets/libs/slick-1.5.9/slick/slick.min.js"></script>

<script src="{{ site.github.url }}/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!--  scrpt is the custome page -->
<script src="{{ site.github.url }}/assets/script.js"></script>
