---
layout: default
---


<div id="wrap"  class='posts background-wrap top-margin'>
    <div class="container">
        <div class="row">
            <div class='col-sm-12'>
                  {% if page.type == 'year' %}
                  <h1>/{{ page.date | date: '%Y' }} Archives</h1>
                  {% elsif page.type == 'month' %}
                  <h1>/{{ page.date | date: '%Y/%m' }} Archives</h1>
                  {% endif %}
            </div>
        </div>
        <div class="archive-items">
          <ul>
            {% for post in page.posts %}
                {% include post-row.html %}
            {% endfor %}
          </ul>
        </div>
    </div>
    <div id="push"></div>
</div>
